.AdminTable__photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  border-radius: 5%;
}
.AdminTable__divTable {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: large;
}

.AdminTable__td {
  padding: 3px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: table-cell;
  font-size: large;
  text-align: center;
}
.AdminTable__td:last-child {
  border-right: 0;
}

.AdminTable__th {
  border-right: 1px solid black;
}
.AdminTable__th:last-child {
  border-right: 0;
}

.AdminTable__table {
  border: 1px solid black;
  border-spacing: 0;
}

.AdminTable__check {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

.AdminTable__bottomButtons {
  padding: 3px;
  margin-top: 5px;
  margin-right: 3px;
  background-color: var(--pale-silver);
  border: none;
  border-radius: 15px;
  font-size: 1.4rem;
  height: 50px;
  letter-spacing: 1px;
  color: black;
}

.AdminTable__bottomButtons:disabled {
  background-color: #f5e9e9;
  color: rgb(105, 105, 105);
}

.AdminTable__bottomDiv {
  display: flex;
  justify-content: center;
}

.AdminTable_General {
  min-height: 100vh;
  background-image: url("../images/wave-addpet.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
