* {
  font-size: large;
  font-family: "Muli", sans-serif;
}

.AdminTable__photos {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 100px;
  border-radius: 5%;
}
.AdminTable__divTable {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.AdminTable__td {
  padding: 3px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: table-cell;
}

.AdminTable__table {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.AdminTable__check {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AdminTable__bottomButtons {
  padding: 3px;
  margin: 3px;
  background-color: var(--blue-pigment);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
}

.AdminTable__bottomButtons:disabled {
  opacity: 0.3;
}

.AdminTable__bottomDiv {
  display: flex;
  justify-content: center;
}
