.card-image {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.card-image img {
  display: inline-block;
  width: 90%;
}

@media (min-width: 1025px) {
  .card-image img {
    display: inline-block;
    width: 70%;
  }
}
