.footer {
  min-height: 20vh;
  width: 100%;
  flex-direction: column;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #272727;
}

.footer__wrapper--social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__wrapper--social-links > ul {
  display: flex;
}

.footer__wrapper--social-items {
  list-style: none;
  padding: 20px 0px;
}

.footer__wrapper--social-items > a {
  padding: 0px 20px;
  font-size: 35px;
  color: #e8eef2;
  cursor: pointer;
}

.footer__wrapper--quick-links {
  width: 410px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__wrapper--quick-links > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 480px) {
  .footer__wrapper--quick-links {
    width: 310px;
  }
  .footer__wrapper--quick-items {
    width: 150px;
    margin: 0 -20px;
  }
}

.footer__wrapper--quick-items {
  list-style: none;
  padding: 5px 0;
  color: #e8eef2;
  padding: 50px 20px;
  font-size: 15px;
}

.footer__wrapper--navLinks {
  text-decoration: none;
  padding: 15px 20px;
  cursor: pointer;
  color: #e8eef2;
}

.footer__outer-footer {
  padding: 20px;
  text-align: center;
  color: #e8eef2;
  font-size: 18px;
  background: #3f3f3f;
}
