html {
  font-size: 10px;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 80px - 20vh);
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  min-width: 320px;
  max-width: 600px;
  padding: 60px 30px 40px;
  color: var(--warm-black);
  border: 1px solid var(--border-color);
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  min-width: 320px;
  max-width: 600px;
}

.login__container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--blue-pigment);
}

.login__container span {
  font-size: 1.4rem;
  color: red;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form .input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--border-color);
  border-radius: 25px;
  color: var(--warm-black);
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}

.login__container--form label {
  font-size: 1.4rem;
}

.button {
  background-color: var(--blue-pigment);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.login__container--remember-me {
  color: var(--warm-black);
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--register {
  font-size: 1.4rem;
}

.login__container--register a {
  color: var(--blue-pigment);
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}
