.navBar {
  background: #3e2f90;
  min-height: 8vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media (max-width: 960px) {
  .navBar {
    transition: 0.8s all ease;
  }
}

.navBar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
}

.navBar__container--logo {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navBar__container--pet {
  margin-right: 10px;
  font-size: 2em;
}

.navBar__container--profilePicWrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar__container--profilePicWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar__container--profilePic {
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.navBar__container--profilePic1 {
  display: none;
}

.navBar__container--mobileIcon {
  position: absolute;
  display: none;
  opacity: 0%;
  top: -100%;
}

@media (max-width: 768px) {
  .navBar__container--mobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transform: translate(-100%, 60%);
    font-size: 32px;
    cursor: pointer;
    color: #fff;
  }
  .navBar__container--profilePic1 {
    display: block;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

.navBar__container--navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

@media (max-width: 768px) {
  .navBar__container--navMenu {
    display: none;
  }
}

.navBar__container--navMenu--hide {
  display: none;
}

.navBar__container--navItem {
  height: 80px;
}

.navBar__container--navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
}

.navBar__container--navLinks:active {
  border-bottom: 3px solid #d6c9c9;
}

.navBar__container--navMenu2 {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

@media (max-width: 768px) {
  .navBar__container--navMenu2 {
    display: none;
  }
}

.navBar__container--navMenu2--hide {
  display: none;
}

.navBar__container--navItem2 {
  height: 80px;
}

.navBar__container--navLinks2 {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
}

.navBar__container--donate:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0.05rem;
  height: 100%;
  border-radius: 50px;
  background: gold;
  cursor: pointer;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navBar__container--navLinks2:active {
  border-bottom: 3px solid #d6c9c9;
}

.navBar__container--nav {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navBar__container--nav {
    display: none;
  }
}

.navBar__container--navBtnLink {
  border-radius: 50px;
  background: #3e2f90;
  white-space: nowrap;
  padding: 10px 22px;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navBar__container--navBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #e8eef2;
  color: black;
}
