html {
  font-size: 10px;
}

.card-list-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 20px;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.card-list-item__image {
  display: block;
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.card-list-item__details {
  height: 200px;
  background-color: var(--soft-blue);
  text-align: start;
  padding: 10px;
}

.card-list-item__details--title {
  color: var(--aero);
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.card-list-item__details a {
  text-decoration: none;
  color: var(--warm-black);
}

.card-list-message {
  position: absolute;
  top: calc(50% - 40px);
  right: calc(50% - 100px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: var(--aero);
  font-size: 2rem;
  font-weight: bold;
  color: var(--alice-blue);
  border-radius: 15px;
}

.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
}

.image {
  width: 300px;
}

.delete-pets-container {
  position: absolute;
  top: calc(100% - 70px);
  left: calc(100% - 90px);
  z-index: 10;
  width: 70px;
  height: 70px;
}

.delete-pets-container__icon {
  font-size: 7rem;
}
