html {
  font-size: 10px;
}

.background-container {
  height: auto;
  min-height: 100vh;
  background-color: #fff;
  background-image: url("../images/wave-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.no-pets-message {
  margin-top: 40px;
  font-size: 26px;
  text-align: center;
}

.add-pets-container {
  position: fixed;
  display: flex;
  z-index: 20;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  top: 85%;
  right: 5%;
}

.add-pets-container__icon {
  font-size: 7rem;
  background-color: var(--soft-blue);
  border-radius: 100%;
  border: 5px solid var(--soft-blue);
}

.donate-button {
  width: 100px;
  background-color: var(--blue-pigment);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 18px 0;
  border: 5px solid var(--soft-blue);
  text-decoration: none;
}
