html {
  font-size: 10px;
}

.background-container {
  height: auto;
  min-height: 100vh;
  background-color: #fff;
  background-image: url("../images/wave-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.no-pets-message {
  margin-top: 40px;
  font-size: 26px;
}

.add-pets-container {
  position: fixed;
  display: flex;
  z-index: 20;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  top: 85%;
  right: 5%;
}

.add-pets-container__icon {
  font-size: 7rem;
  background-color: var(--soft-blue);
  border-radius: 100%;
  border: 5px solid var(--soft-blue);
}

.list-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.list-buttons button {
  margin: 0 15px;
  width: 100px;
  height: 40px;
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--blue-pigment);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.list-buttons button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
