html {
  font-size: 10px;
}



.registerForm{
  background-color: var(--blue-pigment);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1px;
  margin: 18px 0;
  width: 70%;
}

.addPets{
  background-color: var(--blue-pigment);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: 45px;
  letter-spacing: 1px;
  margin: 18px 0;
  width: 90%;
}

.primaryButton{
  background-color: var(--blue-pigment);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.azul {  
  background-color: var(--aero);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;  
}

#submitButton {
  width: 80%;
}

@media (min-width: 768px) {
  .registerForm{
    width: 60%
  } 
}

@media (min-width: 1024px) {
  .registerForm{
    width: 50%
  } 
}

@media (min-width: 768px) {
  .addPets{
    width: 70%
  } 
}

@media (min-width: 1024px) {
  .addPets{
    width: 60%
  } 
}