html {
  font-size: 10px;
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 90vh;
  background-image: url('../images/wavesForSignUp.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.register__container {
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 30px 15px 40px;
  color: var(--warm-black);
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  min-width: 320px;  
}

.register__container--form--errors{
  color: red;
  font-size: 1.3rem;
  padding-top: 15px;
}

.register__container--title {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: var(--blue-pigment);
  margin-bottom: 15px;
  font-size: 2rem;
}

.register__container--subtitle{
  display: flex;
  justify-content: center;
  justify-items: center;
  color: var(--blue-pigment);
  font-size: 1.8rem;
  padding-top: 24px;
}

.register__container--Endtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-pigment);
  padding-top: 5px;
  font-size: 1.5rem;
}

.register__container--Endtitle > a{
  padding-left: 8px;
  color: var(--blue-pigment);
}

 .register__container--form{
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;    
}

.form__field{
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: var(--pale-silver);
  margin-top: 8px;
  font-size: 1.35rem;
  padding-bottom: 14px;
  color:var(--blue-pigment)
}
.register__container--form >input:focus{
  border-color: var(--blue-pigment)
}
.register__container--form--options{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  align-content: center;
}
.register__container--form--options--label{
  padding-right: 20px;
  font-size: 1.5rem;
}

.register__container--form--options--input{
  margin-left: 5px;
}

.register__container--form .button {
  margin-top: 20px;
}

.termsAndConditions {
  display: flex;
  justify-content: center;
  align-items: center ;
  font-size: 1.3rem !important;
}

.termsAndConditions--input {
  margin-right: 5px; 
  font-size: 1.3rem;
}

.termsAndConditions--link {
  color: var(--blue-pigment);
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: 5px;
}

.register__container--handleError{
  font-size: 1.5rem;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.buttomForm{
  display: flex;
  justify-content: center;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

#fileUpload {
  border: hidden;
  outline:none;
  padding-top: 5px;
}
#fileUploadLabel {
  border: hidden;
  outline:none;
  color: var(--blue-pigment);
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; 
}

::-webkit-file-upload-button {
  background: white;
  color: var(--blue-pigment);
  border-radius: 20px;
  border: 0.5px solid;
  border-color: var(var
  (--blue-pigment));
  font-size: 0.9rem;
}

.form__field::placeholder {
  color: var(--blue-pigment);
  font-weight: 700;
  opacity: 1; /* Firefox */
}

.form__field:focus{
  border-width: 2px;
  border-image: linear-gradient(to right, var(--blue-pigment), #b814e0);
  border-image-slice: 1;
}

@media (min-width:700px ) {
  .register__container{
    max-width: 450px;
  }
}

