.slider {
  position: relative;
  height: 33vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__img {
  max-width: 500px;
  height: 100%;
  border-radius: 50px;
}

.slider__right-arrow {
  position: absolute;
  top: 50%;
  right: -190px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.slider__left-arrow {
  position: absolute;
  top: 50%;
  left: -190px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.slider__slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slider__active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media (max-width: 767px) {
  .slider__img {
    width: 200px;
    transition: all 0.2s ease-in-out;
  }
}

@media (min-width: 769px) and (max-width: 1750px) {
  .slider__img {
    width: 400px;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 586px) {
  .slider__right-arrow {
    width: 35px;
    height: 35px;
    right: -94px;
    transition: all 0.2s ease-in-out;
  }

  .slider__left-arrow {
    width: 35px;
    height: 35px;
    left: -94px;
    transition: all 0.2s ease-in-out;
  }
}
